<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>About the weather app!</p>
    </div>
    {{>footer}}
</body>

</html>